div.movieCard {
  height: 15rem;
  width: 30rem;
  background-color: #161d2f;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

div.movieInfoContainer {
  height: 5rem;
  width: 10rem;
  border: 2px solid blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

div.movieInfoDiv {
  display: flex;
  justify-content: space-between;
}