div.movieCardContainer {
  height: 12rem;
  width: auto;
  position: relative;
  border-radius: 1rem;
  background-size: cover;
  background-position: 50% 30%;
}

div.movieCard {
  background-color: rgba(0, 0, 0, 0.438);
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
}

div.movieInfoContainer {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

div.movieInfoDiv {
  display: flex;
  justify-content: space-between;
  width: auto;
  max-width: 12rem
}

div.bookmarkContainer {
  background-color: #5a698f63;
  height: 2rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.movieTitle {
  font-size: 1rem;
  font-weight: 600;
}

p.movieInfo {
  width: fit-content;
  min-width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}