.swiper-button-next,
.swiper-button-prev {
  color: #fc4747;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.5rem;
  font-weight: 800;
  /* Tamanho do ícone da seta */
}

.swiper-pagination-bullet {
  background: #000000;
  width: 8px;
  height: 8px;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: #fc4747;
  /* Cor rosa para a bolinha ativa */
  opacity: 1;
  /* Opacidade total */
}