div.trendingContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 1.5rem;
}

p.homepageSubheading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

div.movieCardsContainer {
  display: flex;
  column-gap: 2rem;
}